<!DOCTYPE html>

<html>

<head>
	<title>Applying Maths with the Binaries Floating Around Human Minds</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, 			maximum-scale=1.0, user-scalable=no">
	<link href="beauty.css" rel="stylesheet" media="all">
	<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
	<!-- <script src="data/50m.json"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- <script type="text/javascript" src = 'maps.js'> </script> -->
	
	
</head>

<body >

	<div class = 'top-to-row'>
	
		<div class = 'top-header'>
			<h2 class="logo"> Maths in GG </h2>

	      	<p  class = 'side-info'> About this Page </p>
	      	
	      	<!-- <button>Highlight all nested lists</button> -->

		</div>

		<div class = 'middle-page'>
			<ul id="menu">
		        <li><a href="#">Home</a></li>
		        <li>
		            <a href="#">Region ￬</a>
		            <ul class="hidden">
		                <li><a href="#">State</a></li>
		                <li><a href="#">PC</a></li>
		                <li><a href="#">AC</a></li>
		            </ul>
		        </li>
		        <li>
		            <a href="#">Domain ￬</a>
		            <ul class="hidden">
		                <li><a href="#">Agriculture</a></li>
		                <li><a href="#">Healthcare</a></li>
		                <li><a href="#">Corruption</a></li>
		            </ul>
		        </li>

		        <li>
		        	<a href="#">Summary ￬</a>
		        	<ul class="hidden">
		                <li><a href="#"> Census </a></li>
		                <li><a href="#"> EC </a></li>
		             
		            </ul>
		        </li>

		        <li>
		        	<a href="#">Visualization ￬</a>
		        	<ul class="hidden">
		                <li><a href="#"> Pie-chart </a></li>
		                <li><a href="#"> Histogram </a></li>
		             
		            </ul>
		        </li>
	    	</ul>
	    </div>  

         
		<!-- <div class = 'middle-page'>

			<div class="Region">
			  Region
			</div>

			<div class="Domain">
			  Domain
			</div>

			<div class="Summary">
			  Summary
			</div>

			<div class="Visualization">
			  Visuals
			</div>

		</div>
      -->

    </div>

    <div class="map-view">
    	<div class="details">
		    <h2 class="country"></h2>
		    <p class="females"></p>
		    <p class="males"></p>
		</div>
    	
    	<!-- <script src="maps.js"></script> -->

    </div> 

    <div class="pie-chart">
    	<svg class="pie-chart"></svg>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.js"></script>
	<script src="jquery.js"> </script>
	<script src="pieChart.js"></script>

</body>

</html>



